<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>07. Cluster services</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>07. Cluster services</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dd564118fec94154ba9d2d1bf1a7e2f7.png" alt="07. Cluster services" usemap="#id-dd564118fec94154ba9d2d1bf1a7e2f7map"/>
			   <map name="id-dd564118fec94154ba9d2d1bf1a7e2f7map">
				  		<area shape="rect" coords="310,1258,430,1338" href="../elements/id-7e635b72513a4435abc176eba535c3b9.html"  target="element">
				  		<area shape="rect" coords="1330,874,1450,954" href="../elements/id-5ba214a091894784a29094b3b7b1d2df.html"  target="element">
				  		<area shape="rect" coords="1330,778,1450,858" href="../elements/id-568229207191466b8eea2229a7fd2c2f.html"  target="element">
				  		<area shape="rect" coords="1330,675,1450,755" href="../elements/id-e7ec05f1fe63441a86ae1a2ddf2d5fb0.html"  target="element">
				  		<area shape="rect" coords="1186,1073,1306,1153" href="../elements/id-30d9fccf26da4c7b886193878e67e1ef.html"  target="element">
				  		<area shape="rect" coords="1186,970,1306,1050" href="../elements/id-e0fcb50741234ab490e3b9d97c748788.html"  target="element">
				  		<area shape="rect" coords="1186,874,1306,954" href="../elements/id-802e318b8d854d3e99961f4cf0b7d10a.html"  target="element">
				  		<area shape="rect" coords="1186,778,1306,858" href="../elements/id-86e5a5b804934e44a15f430b7340f4d8.html"  target="element">
				  		<area shape="rect" coords="1186,675,1306,755" href="../elements/id-826f877f3bc04979917e93b430d8fa2f.html"  target="element">
				  		<area shape="rect" coords="1042,1073,1162,1153" href="../elements/id-82694fcc50fe45d69b6f7fd7b739e7db.html"  target="element">
				  		<area shape="rect" coords="1042,970,1162,1050" href="../elements/id-eeb81f75ffe640cabe16e08dc0b05093.html"  target="element">
				  		<area shape="rect" coords="1042,874,1162,954" href="../elements/id-bc12ba772d224d138435691d9705a35d.html"  target="element">
				  		<area shape="rect" coords="1042,778,1162,858" href="../elements/id-bced52a34a7d42a2bee3abde43c15455.html"  target="element">
				  		<area shape="rect" coords="1042,675,1162,755" href="../elements/id-a54d875ab94c4786bed185439a495525.html"  target="element">
				  		<area shape="rect" coords="886,1169,1006,1249" href="../elements/id-b14f876371724019b197757fa442592f.html"  target="element">
				  		<area shape="rect" coords="886,1073,1006,1153" href="../elements/id-9bde4ec522a448cc89dc339d1e5b956d.html"  target="element">
				  		<area shape="rect" coords="886,970,1006,1050" href="../elements/id-459411bfe7824bda9a033b19559ea3d2.html"  target="element">
				  		<area shape="rect" coords="886,874,1006,954" href="../elements/id-566d5cfa44c14536a645f894d7ad8c7c.html"  target="element">
				  		<area shape="rect" coords="886,778,1006,858" href="../elements/id-e00717119b3e48039c866c10386317e7.html"  target="element">
				  		<area shape="rect" coords="886,675,1006,755" href="../elements/id-eee177f239f14e42bb29f6a412746bd8.html"  target="element">
				  		<area shape="rect" coords="742,874,862,954" href="../elements/id-346562aa7bf04601b5cbbd24c84476a0.html"  target="element">
				  		<area shape="rect" coords="742,778,862,858" href="../elements/id-66c6c1a0801347cabcbea6d9f28e98d0.html"  target="element">
				  		<area shape="rect" coords="742,675,862,755" href="../elements/id-cfdd8186d05f4bee9b1df7cdfd92ab50.html"  target="element">
				  		<area shape="rect" coords="310,874,430,954" href="../elements/id-164893313a314d52a1500c858ec73446.html"  target="element">
				  		<area shape="rect" coords="310,970,430,1050" href="../elements/id-98abdb8c40de459da15d487cbfbdfa61.html"  target="element">
				  		<area shape="rect" coords="1198,712,1203,717" href="../elements/id-2f74ac4088a24dee933114f94c282cc2.html"  target="element">
				  		<area shape="rect" coords="310,1162,430,1242" href="../elements/id-665f88e5265847ebbffbc9550e4adecf.html"  target="element">
				  		<area shape="rect" coords="310,1066,430,1146" href="../elements/id-c9b3c21793a4444aa76819faad927e4a.html"  target="element">
				  		<area shape="rect" coords="310,778,430,858" href="../elements/id-d43547e47a2f4d7c9836835497e0a60c.html"  target="element">
				  		<area shape="rect" coords="310,682,430,762" href="../elements/id-36c25045297343479e401c0f5ffff239.html"  target="element">
				  		<area shape="rect" coords="1330,550,1450,630" href="../elements/id-e975557b1f3c424b96456b469326bbdb.html"  target="element">
				  		<area shape="rect" coords="1186,550,1306,630" href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html"  target="element">
				  		<area shape="rect" coords="1042,550,1162,630" href="../elements/id-f51457447b48433da48ba1e8f71365c6.html"  target="element">
				  		<area shape="rect" coords="886,550,1006,630" href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html"  target="element">
				  		<area shape="rect" coords="742,550,862,630" href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html"  target="element">
				  		<area shape="rect" coords="597,550,717,630" href="../elements/id-837127b8a00f4a7481a9809e266f3cb9.html"  target="element">
				  		<area shape="rect" coords="454,550,574,630" href="../elements/id-eab2547e586c486583275a7ed473276d.html"  target="element">
				  		<area shape="rect" coords="310,550,430,630" href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html"  target="element">
				  		<area shape="rect" coords="166,550,286,630" href="../elements/id-89b44715b3c14797b78b39c64369165f.html"  target="element">
				  		<area shape="rect" coords="22,550,142,630" href="../elements/id-b633d16c064646de8d9cdc1c0ba7dfed.html"  target="element">
				  		<area shape="rect" coords="826,382,946,462" href="../elements/id-7fbb8a8f04fb4c0381370be53cc7c507.html"  target="element">
				  		<area shape="rect" coords="826,290,946,370" href="../elements/id-46991bdc492046b297f3759226d342d0.html"  target="element">
				  		<area shape="rect" coords="826,202,946,282" href="../elements/id-4e8bb728ce214639b0dc2d2e2aedae7c.html"  target="element">
				  		<area shape="rect" coords="526,382,646,462" href="../elements/id-088e6f60da7a4dcc969ad7a1d1923da9.html"  target="element">
				  		<area shape="rect" coords="526,290,646,370" href="../elements/id-755888ff0ace4eeea7d9d90f7bd74e37.html"  target="element">
				  		<area shape="rect" coords="526,202,646,282" href="../elements/id-caa01edd9e6048a18f71eb4002cb6e65.html"  target="element">
				          <area shape="rect" coords="10,10,107,41" href="../objects/id-d92f5654c8f0401d91d51c44de90da26.html" target="element" >
				  				<area shape="rect" coords="718,142,743,161" href="../views/id-3ebd953365374425a70a317b26500c31.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="670,82,790,162" href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
											    <td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-3ebd953365374425a70a317b26500c31.html" target="view"> 01. Organigram zorgaanbieder GGz </a> </td>
													    <td> <a href="../views/id-3ebd953365374425a70a317b26500c31.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/id-d92f5654c8f0401d91d51c44de90da26.html" target="element"> Contact </a> </td>
									           <td> <a href="../objects/id-d92f5654c8f0401d91d51c44de90da26.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-caa01edd9e6048a18f71eb4002cb6e65.html" target="element"> Directiesecretariaat </a> </td>
											    <td> <a href="../elements/id-caa01edd9e6048a18f71eb4002cb6e65.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-755888ff0ace4eeea7d9d90f7bd74e37.html" target="element"> Ondernemingsraad ondersteuning </a> </td>
											    <td> <a href="../elements/id-755888ff0ace4eeea7d9d90f7bd74e37.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-088e6f60da7a4dcc969ad7a1d1923da9.html" target="element"> Wetenschapshuis (TKC) </a> </td>
											    <td> <a href="../elements/id-088e6f60da7a4dcc969ad7a1d1923da9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e8bb728ce214639b0dc2d2e2aedae7c.html" target="element"> Infomatiebeveiliging </a> </td>
											    <td> <a href="../elements/id-4e8bb728ce214639b0dc2d2e2aedae7c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46991bdc492046b297f3759226d342d0.html" target="element"> Duurzaaamheid </a> </td>
											    <td> <a href="../elements/id-46991bdc492046b297f3759226d342d0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fbb8a8f04fb4c0381370be53cc7c507.html" target="element"> Concern control </a> </td>
											    <td> <a href="../elements/id-7fbb8a8f04fb4c0381370be53cc7c507.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b633d16c064646de8d9cdc1c0ba7dfed.html" target="element"> Innovatie &amp; Kwaliteit </a> </td>
											    <td> <a href="../elements/id-b633d16c064646de8d9cdc1c0ba7dfed.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89b44715b3c14797b78b39c64369165f.html" target="element"> Bureau Geneesheer Directeur </a> </td>
											    <td> <a href="../elements/id-89b44715b3c14797b78b39c64369165f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
											    <td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eab2547e586c486583275a7ed473276d.html" target="element"> HR-Services </a> </td>
											    <td> <a href="../elements/id-eab2547e586c486583275a7ed473276d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-837127b8a00f4a7481a9809e266f3cb9.html" target="element"> Breburg Academie </a> </td>
											    <td> <a href="../elements/id-837127b8a00f4a7481a9809e266f3cb9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element"> Financi&#235;n </a> </td>
											    <td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
											    <td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
											    <td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
											    <td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element"> Hospitality </a> </td>
											    <td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36c25045297343479e401c0f5ffff239.html" target="element"> Planning &amp; Flexbureau </a> </td>
											    <td> <a href="../elements/id-36c25045297343479e401c0f5ffff239.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d43547e47a2f4d7c9836835497e0a60c.html" target="element"> Werken bij </a> </td>
											    <td> <a href="../elements/id-d43547e47a2f4d7c9836835497e0a60c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9b3c21793a4444aa76819faad927e4a.html" target="element"> Arbeidsvoorwaarden </a> </td>
											    <td> <a href="../elements/id-c9b3c21793a4444aa76819faad927e4a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-665f88e5265847ebbffbc9550e4adecf.html" target="element"> Opleiding </a> </td>
											    <td> <a href="../elements/id-665f88e5265847ebbffbc9550e4adecf.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f74ac4088a24dee933114f94c282cc2.html" target="element"> Organisatorische Eenheid </a> </td>
											    <td> <a href="../elements/id-2f74ac4088a24dee933114f94c282cc2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98abdb8c40de459da15d487cbfbdfa61.html" target="element"> Gezondheid </a> </td>
											    <td> <a href="../elements/id-98abdb8c40de459da15d487cbfbdfa61.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-164893313a314d52a1500c858ec73446.html" target="element"> Business Partners </a> </td>
											    <td> <a href="../elements/id-164893313a314d52a1500c858ec73446.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cfdd8186d05f4bee9b1df7cdfd92ab50.html" target="element"> Financi&#235;le Administratie </a> </td>
											    <td> <a href="../elements/id-cfdd8186d05f4bee9b1df7cdfd92ab50.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66c6c1a0801347cabcbea6d9f28e98d0.html" target="element"> Control </a> </td>
											    <td> <a href="../elements/id-66c6c1a0801347cabcbea6d9f28e98d0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-346562aa7bf04601b5cbbd24c84476a0.html" target="element"> Inkoop </a> </td>
											    <td> <a href="../elements/id-346562aa7bf04601b5cbbd24c84476a0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eee177f239f14e42bb29f6a412746bd8.html" target="element"> Zorgverkoop </a> </td>
											    <td> <a href="../elements/id-eee177f239f14e42bb29f6a412746bd8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e00717119b3e48039c866c10386317e7.html" target="element"> Procesondersteuning </a> </td>
											    <td> <a href="../elements/id-e00717119b3e48039c866c10386317e7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-566d5cfa44c14536a645f894d7ad8c7c.html" target="element"> Centraal Aanmeld Punt (CAP) </a> </td>
											    <td> <a href="../elements/id-566d5cfa44c14536a645f894d7ad8c7c.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-459411bfe7824bda9a033b19559ea3d2.html" target="element"> Zorgsectetariaat team 1 </a> </td>
											    <td> <a href="../elements/id-459411bfe7824bda9a033b19559ea3d2.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9bde4ec522a448cc89dc339d1e5b956d.html" target="element"> Zorgsectetariaat team 2 </a> </td>
											    <td> <a href="../elements/id-9bde4ec522a448cc89dc339d1e5b956d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b14f876371724019b197757fa442592f.html" target="element"> Zorgsectetariaat team 3 </a> </td>
											    <td> <a href="../elements/id-b14f876371724019b197757fa442592f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a54d875ab94c4786bed185439a495525.html" target="element"> ICT Beheer </a> </td>
											    <td> <a href="../elements/id-a54d875ab94c4786bed185439a495525.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bced52a34a7d42a2bee3abde43c15455.html" target="element"> ICT Support </a> </td>
											    <td> <a href="../elements/id-bced52a34a7d42a2bee3abde43c15455.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc12ba772d224d138435691d9705a35d.html" target="element"> ICT DWH </a> </td>
											    <td> <a href="../elements/id-bc12ba772d224d138435691d9705a35d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eeb81f75ffe640cabe16e08dc0b05093.html" target="element"> ICT Functioneel Applicatie Beheer </a> </td>
											    <td> <a href="../elements/id-eeb81f75ffe640cabe16e08dc0b05093.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82694fcc50fe45d69b6f7fd7b739e7db.html" target="element"> ICT Advies </a> </td>
											    <td> <a href="../elements/id-82694fcc50fe45d69b6f7fd7b739e7db.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-826f877f3bc04979917e93b430d8fa2f.html" target="element"> Vastgoed Facilitair </a> </td>
											    <td> <a href="../elements/id-826f877f3bc04979917e93b430d8fa2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86e5a5b804934e44a15f430b7340f4d8.html" target="element"> Vastgoed Beheer &amp; Onderhoud </a> </td>
											    <td> <a href="../elements/id-86e5a5b804934e44a15f430b7340f4d8.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-802e318b8d854d3e99961f4cf0b7d10a.html" target="element"> Vastgoed Projecten </a> </td>
											    <td> <a href="../elements/id-802e318b8d854d3e99961f4cf0b7d10a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0fcb50741234ab490e3b9d97c748788.html" target="element"> Locatiebeheer Regio Breda </a> </td>
											    <td> <a href="../elements/id-e0fcb50741234ab490e3b9d97c748788.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30d9fccf26da4c7b886193878e67e1ef.html" target="element"> Locatiebeheer Regio Tilburg </a> </td>
											    <td> <a href="../elements/id-30d9fccf26da4c7b886193878e67e1ef.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e7ec05f1fe63441a86ae1a2ddf2d5fb0.html" target="element"> Schoonmaak </a> </td>
											    <td> <a href="../elements/id-e7ec05f1fe63441a86ae1a2ddf2d5fb0.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-568229207191466b8eea2229a7fd2c2f.html" target="element"> Voeding </a> </td>
											    <td> <a href="../elements/id-568229207191466b8eea2229a7fd2c2f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ba214a091894784a29094b3b7b1d2df.html" target="element"> Restauratieve Dienst </a> </td>
											    <td> <a href="../elements/id-5ba214a091894784a29094b3b7b1d2df.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e635b72513a4435abc176eba535c3b9.html" target="element"> Mens &amp; Werk </a> </td>
											    <td> <a href="../elements/id-7e635b72513a4435abc176eba535c3b9.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4cb6d07feeae410e8c4ebccd090ad319.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cb6d07feeae410e8c4ebccd090ad319.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-caa01edd9e6048a18f71eb4002cb6e65.html" target="element"> Directiesecretariaat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb2fb843be034df3a10751afa26b7516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb2fb843be034df3a10751afa26b7516.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-4e8bb728ce214639b0dc2d2e2aedae7c.html" target="element"> Infomatiebeveiliging </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6432f77ec918409f8f2d5da9efff8b39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6432f77ec918409f8f2d5da9efff8b39.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-755888ff0ace4eeea7d9d90f7bd74e37.html" target="element"> Ondernemingsraad ondersteuning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f3301e4519e04d0babcb164e0fea17c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3301e4519e04d0babcb164e0fea17c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-46991bdc492046b297f3759226d342d0.html" target="element"> Duurzaaamheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e9fc52abeed41e2b8e9fee5b098c588.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e9fc52abeed41e2b8e9fee5b098c588.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-088e6f60da7a4dcc969ad7a1d1923da9.html" target="element"> Wetenschapshuis (TKC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b37f8ac5c52f487789501e203c8dff5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b37f8ac5c52f487789501e203c8dff5e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-7fbb8a8f04fb4c0381370be53cc7c507.html" target="element"> Concern control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b06608bf3d4e42dd90737fa41b1e2da1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b06608bf3d4e42dd90737fa41b1e2da1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-b633d16c064646de8d9cdc1c0ba7dfed.html" target="element"> Innovatie &amp; Kwaliteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0310d65580194a91b234ee51a827a81c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0310d65580194a91b234ee51a827a81c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-89b44715b3c14797b78b39c64369165f.html" target="element"> Bureau Geneesheer Directeur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30f5aa3747d44bbd9b6874dbc227e65d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30f5aa3747d44bbd9b6874dbc227e65d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79ba63ca65604df692674f4c2a0a42ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79ba63ca65604df692674f4c2a0a42ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-eab2547e586c486583275a7ed473276d.html" target="element"> HR-Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b54aaa01116843af8b037e829bd965bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b54aaa01116843af8b037e829bd965bc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-837127b8a00f4a7481a9809e266f3cb9.html" target="element"> Breburg Academie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24c54173eb9c41d280876b2c86e0eb77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24c54173eb9c41d280876b2c86e0eb77.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element"> Financi&#235;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e5b27c276ced40529fc5d7e11c9f3ef0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e5b27c276ced40529fc5d7e11c9f3ef0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-776cfc2f4fc94a2ea5a2fc2fd146543d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-776cfc2f4fc94a2ea5a2fc2fd146543d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b64eb17a9ad842468843a2a55dd8447c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b64eb17a9ad842468843a2a55dd8447c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6fcaadb23b334ddeaacc8848c05618c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fcaadb23b334ddeaacc8848c05618c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1c0bb85da25a42b79cc8740a1987d601.html" target="element"> Cluster services </a> </td>
																		<td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element"> Hospitality </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-c87655efb585422fadf8a7b4c88366bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c87655efb585422fadf8a7b4c88366bd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-46991bdc492046b297f3759226d342d0.html" target="element"> Duurzaaamheid </a> </td>
																		<td> <a href="../elements/id-7fbb8a8f04fb4c0381370be53cc7c507.html" target="element"> Concern control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66b33bb6872f4c2d996ca52f584c695b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66b33bb6872f4c2d996ca52f584c695b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-36c25045297343479e401c0f5ffff239.html" target="element"> Planning &amp; Flexbureau </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2a67e40ed884be197cf7b5904415bf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2a67e40ed884be197cf7b5904415bf5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-d43547e47a2f4d7c9836835497e0a60c.html" target="element"> Werken bij </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b667001ff72a40769dfb87938838172f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b667001ff72a40769dfb87938838172f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-164893313a314d52a1500c858ec73446.html" target="element"> Business Partners </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e9beecf23eb4481bf1f3665a9e35566.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e9beecf23eb4481bf1f3665a9e35566.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-98abdb8c40de459da15d487cbfbdfa61.html" target="element"> Gezondheid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6be1253ffc0849cea76a64047b32eaed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6be1253ffc0849cea76a64047b32eaed.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-c9b3c21793a4444aa76819faad927e4a.html" target="element"> Arbeidsvoorwaarden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59d219c35822448dae46336a400928f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59d219c35822448dae46336a400928f0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-665f88e5265847ebbffbc9550e4adecf.html" target="element"> Opleiding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4f24edc16304d6690abe7d485757862.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4f24edc16304d6690abe7d485757862.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1595b9494a89401187b3e8ff729d8a3a.html" target="element"> HR </a> </td>
																		<td> <a href="../elements/id-7e635b72513a4435abc176eba535c3b9.html" target="element"> Mens &amp; Werk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-51f17b7dd2b44b81b6cbcd2b267ac18b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51f17b7dd2b44b81b6cbcd2b267ac18b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-cfdd8186d05f4bee9b1df7cdfd92ab50.html" target="element"> Financi&#235;le Administratie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b23cf2c5f1f0492e874dd2ffe6c1160f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b23cf2c5f1f0492e874dd2ffe6c1160f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-66c6c1a0801347cabcbea6d9f28e98d0.html" target="element"> Control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e308e07208054e5a882bff74d3aa7a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e308e07208054e5a882bff74d3aa7a9e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-02fa08d3c4aa4418a6d92fcdccd72a79.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-346562aa7bf04601b5cbbd24c84476a0.html" target="element"> Inkoop </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-64f14dd7d5814bf390b89aefbe4e472b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64f14dd7d5814bf390b89aefbe4e472b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-eee177f239f14e42bb29f6a412746bd8.html" target="element"> Zorgverkoop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7aee1817c7b4af6b9d5924bb461fedb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7aee1817c7b4af6b9d5924bb461fedb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-e00717119b3e48039c866c10386317e7.html" target="element"> Procesondersteuning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3aaa1fb2b0494ec4b0328bcc4a8e4dbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3aaa1fb2b0494ec4b0328bcc4a8e4dbb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-566d5cfa44c14536a645f894d7ad8c7c.html" target="element"> Centraal Aanmeld Punt (CAP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26659a8e4fae44b282d8fe1ec5ee291e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26659a8e4fae44b282d8fe1ec5ee291e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-459411bfe7824bda9a033b19559ea3d2.html" target="element"> Zorgsectetariaat team 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4256e1360194fa4838065fd3759f515.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4256e1360194fa4838065fd3759f515.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-9bde4ec522a448cc89dc339d1e5b956d.html" target="element"> Zorgsectetariaat team 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61983e70da4b477f93aa9b79f2a00694.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61983e70da4b477f93aa9b79f2a00694.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b4f8d8c7d62447a9b1b6321af3083e5d.html" target="element"> Zorgverkoop &amp; Procesondersteuning </a> </td>
																		<td> <a href="../elements/id-b14f876371724019b197757fa442592f.html" target="element"> Zorgsectetariaat team 3 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ecf08a6a2db47018db96901fd9adc6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ecf08a6a2db47018db96901fd9adc6b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																		<td> <a href="../elements/id-a54d875ab94c4786bed185439a495525.html" target="element"> ICT Beheer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e86552fc2424035b0f5c73b9e907354.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e86552fc2424035b0f5c73b9e907354.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																		<td> <a href="../elements/id-bced52a34a7d42a2bee3abde43c15455.html" target="element"> ICT Support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0671ec9bda4d4419b05f3f372a127f9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0671ec9bda4d4419b05f3f372a127f9a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																		<td> <a href="../elements/id-bc12ba772d224d138435691d9705a35d.html" target="element"> ICT DWH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cbe83940f9f3437994ec162d8d9a2e4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbe83940f9f3437994ec162d8d9a2e4b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																		<td> <a href="../elements/id-eeb81f75ffe640cabe16e08dc0b05093.html" target="element"> ICT Functioneel Applicatie Beheer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ecd9a05fc5e54e169f326d35bb3d2c20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ecd9a05fc5e54e169f326d35bb3d2c20.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f51457447b48433da48ba1e8f71365c6.html" target="element"> ICT </a> </td>
																		<td> <a href="../elements/id-82694fcc50fe45d69b6f7fd7b739e7db.html" target="element"> ICT Advies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd94f4983eb24075946d4850383004b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd94f4983eb24075946d4850383004b0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																		<td> <a href="../elements/id-826f877f3bc04979917e93b430d8fa2f.html" target="element"> Vastgoed Facilitair </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d5f71f1d1e242dfa37bc1fba64b71fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d5f71f1d1e242dfa37bc1fba64b71fb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																		<td> <a href="../elements/id-86e5a5b804934e44a15f430b7340f4d8.html" target="element"> Vastgoed Beheer &amp; Onderhoud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3e0ba1c8bd04bf68accef0817bad2a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3e0ba1c8bd04bf68accef0817bad2a8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																		<td> <a href="../elements/id-802e318b8d854d3e99961f4cf0b7d10a.html" target="element"> Vastgoed Projecten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa5f32042db042a3a4f293a6772fc654.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa5f32042db042a3a4f293a6772fc654.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																		<td> <a href="../elements/id-e0fcb50741234ab490e3b9d97c748788.html" target="element"> Locatiebeheer Regio Breda </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2e965bd9f7d4057917f7944844e6d25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2e965bd9f7d4057917f7944844e6d25.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eff478f0aae48ec98f8ad5c4971d1a5.html" target="element"> Vastgoed &amp; Beheer </a> </td>
																		<td> <a href="../elements/id-30d9fccf26da4c7b886193878e67e1ef.html" target="element"> Locatiebeheer Regio Tilburg </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e42d6045a24e40eeaaf96b031fdd3a33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e42d6045a24e40eeaaf96b031fdd3a33.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element"> Hospitality </a> </td>
																		<td> <a href="../elements/id-e7ec05f1fe63441a86ae1a2ddf2d5fb0.html" target="element"> Schoonmaak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f29f0b255e5846d89b43420e447c3d8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f29f0b255e5846d89b43420e447c3d8b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element"> Hospitality </a> </td>
																		<td> <a href="../elements/id-568229207191466b8eea2229a7fd2c2f.html" target="element"> Voeding </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b689f616dc964e9badd24a58d583caf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b689f616dc964e9badd24a58d583caf5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e975557b1f3c424b96456b469326bbdb.html" target="element"> Hospitality </a> </td>
																		<td> <a href="../elements/id-5ba214a091894784a29094b3b7b1d2df.html" target="element"> Restauratieve Dienst </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>